body {
  background-color: var(--color-black);
}

section {
  padding: var(--space-120) var(--space-96);
  border-top: var(--stroke-1) solid var(--image-border);
}

h1 {
  font-family: var(--font-family-header);
  font-size: var(--fs-96);
  font-weight: var(--fw-700);
  line-height: 0.95;
  letter-spacing: var(--ls-neg-1-5);
  margin: 0;
}

h2 {
  font-family: var(--font-family-header);
  font-size: var(--fs-48);
  font-weight: var(--fw-700);
  margin: 0;
}

h3 {
  margin: 0;
  font-family: var(--font-family-1);
  font-size: var(--fs-24);
  font-weight: var(--fw-700);
  line-height: var(--lh-28);
}

h4 {
  margin: 0;
  font-family: var(--font-family-1);
  font-size: var(--fs-16);
  font-weight: var(--fw-400);
  line-height: var(--lh-24);
}

p,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.text-main-small {
  font-family: var(--font-family-1);
  font-size: var(--fs-14);
  font-weight: var(--fw-400);
}

.text-main {
  font-family: var(--font-family-1);
  font-size: var(--fs-16);
  font-weight: var(--fw-400);
}
