h1 {
  font-family: var(--font-family-header);
  font-size: var(--fs-96);
  font-weight: var(--fw-700);

  line-height: 0.95; /* 🔥 ważne */
  letter-spacing: var(--ls-neg-1-5);
  margin: 0;

}

.text-main-small {
  font-family: var(--font-family-1);
  font-size: var(--fs-14);
  font-weight: var(--fw-400);
}

.text-main {
  font-family: var(--font-family-1);
  font-size: var(--fs-16);
  font-weight: var(--fw-400);
}