:root {
  --color-black: #171717;
  --color-black-0: rgba(23, 23, 23, 0);
  --color-black-40: rgba(23, 23, 23, 0.4);
  --color-black-50: rgba(23, 23, 23, 0.5);
  --color-black-60: rgba(23, 23, 23, 0.6);
  --color-black-80: rgba(23, 23, 23, 0.8);

  --color-white: #ffffff;
  --color-white-1: rgba(255, 255, 255, 0.01);

  --color-violet: #8555F7;
  --color-violet-10: rgba(133, 85, 247, 0.1);
  --color-violet-20: rgba(133, 85, 247, 0.2);

  --color-violet-light: #AD97F7;

  --color-blue: #3b82f6;
  --color-blue-10: rgba(59, 130, 246, 0.1);
  --color-blue-20: rgba(59, 130, 246, 0.2);

  --color-green: #22c55e;
  --color-green-10: rgba(34, 197, 94, 0.1);
  --color-green-20: rgba(34, 197, 94, 0.2);

  --color-orange: #fb923c;
  --color-orange-10: rgba(251, 146, 60, 0.1);
  --color-orange-20: rgba(251, 146, 60, 0.2);

  --color-grey-light: #d4d4d4;
  --color-grey-medium: #a3a3a3;
  --color-grey-dark: #737373;
  --color-grey-very-dark: #334155;

  --color-navy: #1e293b;
  --color-navy-50: rgba(30, 41, 59, 0.5);
  --color-navy-80: rgba(30, 41, 59, 0.8);

  --color-red: #fb7185;
  --color-red-10: rgba(244, 63, 94, 0.1);
  --color-red-20: rgba(244, 63, 94, 0.2);

  --image-border: #1e293b;

  --opacity-40: 0.4;
  --opacity-50: 0.5;
  --opacity-75: 0.75;
  --opacity-80: 0.8;
  --opacity-100: 1;

  --stroke-1: 1px;

  --space-8: 8px;
  --space-16: 16px;
  --space-24: 24px;
  --space-32: 32px;
  --space-48: 48px;
  --space-96: 96px;
  --space-120: 120px;

  --fs-14: 14px;
  --fs-16: 16px;
  --fs-24: 24px;
  --fs-30: 30px;
  --fs-48: 48px;
  --fs-80: 80px;
  --fs-96: 96px;

  --font-family-1:
    "Segoe UI", "Inter", "Roboto", "Helvetica Neue", Arial, sans-serif;
  --font-family-header:
    "Syne", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --fw-400: 400;
  --fw-700: 700;

  --ls-neg-1: -1px;
  --ls-neg-1-5: -1.5px;

  --lh-16: 16px;
  --lh-24: 24px;
  --lh-28: 28px;
  --lh-36: 36px;
  --lh-80: 80px;
  --lh-96: 96px;

  --radius-4: 4px;
  --radius-16: 16px;
  --radius-100: 100px;
  --radius-9999: 9999px;

  --shadow-1: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1);
  --layer-blur-blur: blur(120px);
}

@media (max-width: 768px) {
  :root {
    --space-96: 24px;
    --space-120: 60px;

    --fs-14: 12px;
    --fs-16: 14px;
    --fs-24: 20px;
    --fs-30: 22px;
    --fs-48: 32px;
    --fs-80: 40px;
    --fs-96: 48px;
  }
}
